* {
    box-sizing: border-box; /* всегда по умолчанию*/
}
body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 100%;
    max-width: 1170px; /* всегда смотреть ширину по макету и не выходить за неё */
    padding: 0 12px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-box {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo span {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 6px;
}

.btn {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent; /* прозрачная кнопка */
}

.btn-primary {
    background-color: rgb(37, 110, 235);
    color: rgb(255, 255, 255);
}

.header-burger {
    width: 30px;
    height: 19px;
    display: none;
}

@media (max-width:1200px) { /* СТАНДАРТ БУТСТРАПА*/
    .container {
        max-width: 930px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}
@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }

    .header-controls {
        display: none;
    }
    
    .header-burger {
        display: block;
    }
}